{% extends 'base.html' %}

{% block body %}

<center><h1>About Us</h1></center>
<div class="container">
    <div class="row">
      <div class="col">
        <center><h3>Cole Edlin</h3>
          <p>Cole is a senior at Oakland Technical High School, graduating in May. He runs @mlbmythbuster on instagram. He created a simple regression based projection system to project player statistics and standings for the MLB, and these projections are utilized for this site. </p>
        </center>
      </div>
      <div class="col">
        <center><h3>James Sinclair</h3>
        <p>James is a senior at Oakland Technical High School, graduating in May. James enjoys playing baseball, video games and hanging out with his friends. </p>
        </center>
      </div>
      <center><h4>Intended Purpose</h4>
      <p>Our intended purpose is to spread knowledge about baseball and show how projections can be utilized to grow the game of baseball. Projections are heavily used by baseball front offices and statisticians, but many fans, players, and media personalities do not understand them. Just last year Adam Wainwright tweeted about how fangraphs only gave the cardinals a 1% chance of making the playoffs, yet the cardinals made the playoffs anyway. This is not a flaw in the projections necessarily. 1% is not 0, which means there was still a chance the cardinals would make the playoffs last year even according to fangraphs. The truth is projections have been remarkably accurate especially recently with the growing number of statistics available for use. </p>
    </center>
    </div>

  </div>
<img src="static/jamesandcole.jpg" alt="error" height="200" width="300">

{% endblock %}