{% extends 'base.html' %}

{% block body %}

<center><h1>About Us</h1></center>
<div class="container">
    <div class="row">
      <div class="col">
        <center><h3>Cole Edlin</h3>
          <p>Cole is a senior at Oakland Technical High School, graduating in May. </p>
        </center>
      </div>
      <div class="col">
        <center><h3>James Sinclair</h3>
        <p>James is a senior at Oakland Technical High School, graduating in May. James enjoys playing baseball, video games and hanging out with his friends.  </p>
        </center>
      </div>
    </div>
  </div>


{% endblock %}