{% extends 'base.html' %}

{% block body %}

<center><h1>About Us</h1></center>
<div class="container">
    <div class="row">
      <div class="col">
        <center><h3>Cole Edlin</h3>
          <p>Cole is a senior at Oakland Technical High School, graduating in May. He runs @mlbmythbuster on instagram. He created a simple regression based projection system to project player statistics and standings for the MLB, and these projections are utilized for this site. </p>
        </center>
      </div>
      <div class="col">
        <center><h3>James Sinclair</h3>
        <p>James is a senior at Oakland Technical High School, graduating in May. James enjoys playing baseball, video games and hanging out with his friends. </p>
        </center>
      </div>
      <center><h4>Intended Purpose</h4>
      <p>Our intended purpose is to spread knowledge about baseball and show how projections can be utilized to grow the game of baseball. </p>
    </center>
    
    </div>
  </div>


{% endblock %}