{% extends 'base.html' %}

{% block body %}
<center><h1>Projected Standings</h1></center>
<div class="container">
    <div class="row">
      <div class="col">
        <center><h4>American League</h4></center>
        <center><h4>East</h4></center>
        <h6>Team &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wins &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Losses</h6>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <center><h4>Central</h4></center>
        <h6>Team &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wins &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Losses</h6>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <center><h4>West</h4></center>
        <h6>Team &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wins &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Losses</h6>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
      <div class="col">
        <center><h4>National League</h4></center>
        <center><h4>East</h4></center>
        <h6>Team &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wins &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Losses</h6>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <center><h4>Central</h4></center>
        <h6>Team &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wins &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Losses</h6>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <center><h4>West</h4></center>
        <h6>Team &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wins &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Losses</h6>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>

{% endblock %}